
/* admin.css - Styles for the Admin Dashboard */
.admin-dashboard {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.admin-container {
	display: flex;
	flex: 1;
	background-color: #f4f4f4;
}

.admin-content {
	flex: 1;
	padding: 20px;
	background-color: white;
}

.content-area {
	padding: 20px;
	margin-top: 20px;
}
