/* Main layout */
.voter-dashboard {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #f4f4f9;
  }
  
  /* Header styles */
  .voter-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 30px;
	background-color: #333;
	color: #fff;
  }
  
  .profile {
	position: relative;
	cursor: pointer;
  }
  
  .profile-icon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
  }
  
  .profile-dropdown {
	position: absolute;
	top: 50px;
	right: 0;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 10px;
	width: 150px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
  }
  
  .profile-dropdown a {
	color: #333;
	padding: 8px;
	text-decoration: none;
  }
  
  .profile-dropdown a:hover {
	background-color: #ddd;
	border-radius: 4px;
  }
  
  /* Additional Styles for Main content area */
  .main-content {
	padding: 30px;
	text-align: center;
  }

  main h2 {
	color: red;
	font-size: 24px;
	margin-top: 60px;
  }
  
  .categories {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 20px;
  }
  
  h2 {
	margin-bottom: 20px;
	font-size: 24px;
	color: #333;
  }
  
  /* Candidate card styles */
  .candidate-card {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;
	width: 250px;
	padding: 20px;
	text-align: center;
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .candidate-card:hover {
	transform: scale(1.05);
  }
  
  .candidate-card h3 {
	font-size: 18px;
	margin-bottom: 10px;
  }
  
  .candidate-card p {
	font-size: 14px;
	color: #666;
  }
  
  .candidate-card img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-bottom: 15px;
  }
  
  /* styles for the footer */
  .voter-footer {
	text-align: center;
	background-color: #333;
	color: #fff;
	padding: 10px;
  }  